@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kanit", serif;
}

.icon:hover .icon-path {
  fill: #3498db; /* Replace with your desired hover color */
}

.max-container {
  @apply mx-auto max-w-[1440px];
}

.maxLeftOnly {
  @apply ml-auto max-w-[1440px];
}

.marquee {
  display: flex;
  margin: 0 auto;
  /* width: 1150px; */
  overflow: hidden;
  user-select: none;
  height: 130px;
}

.marqueeGroup {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  width: max-content;
  justify-content: start;
  margin-top: 30px;
  animation: scrollX 45s linear infinite;
}

.imageGroup2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.imaGe2 {
  width: 170px;
  height: 150px;
  object-fit: contain;
  /* border-radius: 0.5rem; */
  aspect-ratio: 1/1;
  padding: 27px;
}

@keyframes scrollX {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.clip-notch {
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    100% 100%, 
    52% 85%, 
    48% 85%, 
    0% 100%
  );
}
.clip-notch2 {
  clip-path: polygon(
    0% 0%, 
    100% 0%, 
    100% 100%, 
    52% 70%, 
    48% 70%, 
    0% 100%
  );
}

.animated-button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  color: #45D400;
  border: 1.5px solid #45D400;
  font-weight: 500;
  border-radius: 40px;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.animated-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #45D400 0%, #79E572 50%, #45D400 100%);
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 0.8s ease-in-out;
}

.animated-button:hover {
  color: white;
  border-color: #45D400;
}

.animated-button:hover::before {
  transform: translateX(0%);
}


